.card-principal {
    .card-toolbar {
        display: flex;
        justify-content: space-between;
    }

    .list-sub-title {
        color: rgb(124, 114, 114);
    }
    
    .confirm {
        margin-right: 5px;
    }
}

.spinner-Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
