/* h1 {
    color: #5eccd6;
    font-size: 50px;
    font-weight: bolder;
} */

/* h2 {
    color: #698893;
    margin-bottom: 50px;
} */

a.a-link {
    color: #5eccd6;
    border-bottom: 2px solid transparent;
    transition: 0.5s border-bottom;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

/* .background {
    align-items: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapersmug.com%2Flarge%2Ffb6f49%2Fsunset-horizon-mountains-valley.jpg&f=1&nofb=1");
    // background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // height: calc(100vh - 64px);
    height: 100vh;
    padding-top: 10%;
} */

/* .btn {
    background-color: #5eccd6;
    border-radius: 20px;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.5s background-color;
} */

a.a-link:hover {
    border-bottom: 2px solid #5eccd6;
    cursor: pointer;
}

.btn:hover {
    background-color: #52b7c0;
}

.painel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-add {
    margin-right: 40px;
}

/* .discriber {
    text-align: center;
    margin-top: 30px;
} */

/* .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
} */

.spinner-Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-sub-title {
    color: rgb(124, 114, 114);
}