<app-nav-bar></app-nav-bar>

<h1 style="text-align: center">
  {{ loggedEmail }}
</h1>

<mat-card class="card-principal">
  <mat-toolbar color="primary" class="card-toolbar">
    <span> Produtos Cadastrados </span>

    <span>
      <button mat-button (click)="addProducts()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <mat-nav-list *ngIf="hasData">
    <mat-list-item *ngFor="let produto of products">
      <h3 class="list-title" matLine>{{ produto.nome }}</h3>
      <small class="list-sub-title" matLine
        >Valor: R$ {{ produto.preco | number: "1.0" }}</small
      >
      <small class="list-sub-title" matLine
        >Quantidade: {{ produto.qtd }}</small
      >

      <div class="actions">
        <small> Quantidade: </small>
        <button
          mat-icon-button
          (click)="editProductPrice(produto.id, 'minus')"
          class="btn btn-outline-danger"
        >
          <mat-icon>exposure_neg_1</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="editProductPrice(produto.id, 'plus')"
          class="btn btn-outline-primary"
        >
          <mat-icon>exposure_plus_1</mat-icon>
        </button>
      </div>

      <button
        mat-icon-button
        (click)="editProduct(produto)"
        class="btn btn-outline-primary"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="openModal(template)"
        class="btn btn-outline-danger"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <ng-template #template>
        <div class="modal-body text-center">
          <p>
            Deseja realmente excluir o produto: <b>{{ produto.nome }}</b
            >?
          </p>
          <button
            type="button"
            class="btn btn-outline-primary confirm"
            (click)="confirm(produto.id)"
          >
            Sim
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="bsModalRef?.hide()"
          >
            Não
          </button>
        </div>
      </ng-template>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<ng-container *ngIf="!hasData">
  <mat-progress-spinner
    class="spinner-Loading"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-spinner>
  <!-- <div class="spinner-Loading">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->
</ng-container>
