.card-toolbar {
    display: flex;
    justify-content: space-between;
}

.spinner-Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-sub-title {
    color: rgb(124, 114, 114);
}