<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
<ng-container *ngIf="list">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Produto</mat-label>
        <input matInput formControlName="nome" type="text" required />
        <mat-error *ngIf="nome?.hasError('required')">
          Produto é obrigatório
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput formControlName="preco" type="text" required />
        <mat-error *ngIf="preco?.hasError('required')">
          Valor é obrigatório
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="qtd" type="number" required />
        <mat-error *ngIf="qtd?.hasError('required')">
          Quantidade é obrigatório e deve ser um número
        </mat-error>
      </mat-form-field>
      <div class="form-footer">
        <button
          [disabled]="form.invalid"
          mat-button
          class="btn btn-primary"
          (click)="bsModalRef.hide()"
        >
          {{ title }}
        </button>
      </div>
    </form>
</ng-container>