<mat-toolbar color="primary" class="mat-elevation-z8" fxLayout="row">
    <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="icon"
    [routerLink]="['/home']"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    [routerLink]="['/cadastro']"
    >
    <mat-icon>inventory_2</mat-icon>
  </button>

  <button
    mat-icon-button
    class="icon"
    [routerLink]="['/login']"
    >
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
