<div class="background">
  <div class="login-container">
    <div class="text-container">
      <h1>Olá Estranho</h1>
      <p>
          Quer Criar uma conta? Clique no botão abaixo!
      </p>
      <button mat-button routerLink="/register">Criar Conta</button>
    </div>
    <div class="form-container">
      <h1>SisCad Login</h1>
      <button class="mat-raised-button" (click)="loginWithGoogle()">
        Entrar com Google
      </button>
      <h5>Ou entre com seu email</h5>
      <app-login-form (formData)="login($event)"></app-login-form>
    </div>
  </div>
</div>
