<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-group">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required />
    <mat-error *ngIf="email?.hasError('required')">
      Email é obrigatório
    </mat-error>
    <mat-error *ngIf="email?.hasError('email')">
      Email inválido, favor verificar.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" required />
    <mat-error *ngIf="password?.hasError('required')">
      Password é obrigatório
    </mat-error>
  </mat-form-field>
  <div class="form-footer">
    <button [disabled]="form.invalid" mat-raised-button type="submit">
      Enviar
    </button>
  </div>
</form>
