<!-- <ng-container *ngIf="data">
  <div *ngFor="let item of data">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Produto</mat-label>
        <input matInput formControlName="nome" type="text" required />
        <mat-error *ngIf="nome?.hasError('required')">
          Produto é obrigatório
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput pattern="[\d,.?!]*" formControlName="preco" type="text" required />
        <mat-error *ngIf="preco?.hasError('required')">
          Valor é obrigatório
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="qtd" type="number" required />
        <mat-error *ngIf="qtd?.hasError('required')">
          Quantidade é obrigatório e deve ser um número
        </mat-error>
      </mat-form-field>
      <div class="form-footer">
        <button
          [disabled]="form.invalid"
          mat-button
          class="btn btn-primary"
          (click)="bsModalRef.hide()"
        >
          {{ title === "Editar Produto" ? "Editar Produto" : "Excluir Produto" }}
        </button>
      </div>
    </form>
  </div>
</ng-container> -->

<ng-container *ngIf="!data.length">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Novo Produto</mat-label>
      <input matInput formControlName="nome" type="text" required />
      <mat-error *ngIf="nome?.hasError('required')">
        Produto é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valor</mat-label>
      <input matInput formControlName="preco" type="text" required />
      <mat-error *ngIf="preco?.hasError('required')">
        Valor é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input matInput formControlName="qtd" type="number" required />
      <mat-error *ngIf="qtd?.hasError('required')">
        Quantidade é obrigatório e deve ser um número
      </mat-error>
    </mat-form-field>
    <div class="form-footer">
      <button
        [disabled]="form.invalid"
        mat-button
        class="btn btn-primary"
        (click)="bsModalRef.hide()"
      >
        {{ title }}
      </button>
    </div>
  </form>
</ng-container>
