mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.a-link-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 0.5rem;
}

.a-link {
    margin-right: 1rem;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s border-bottom;
}
.a-link:hover {
    border-bottom: 2px solid #fff;
    cursor: pointer;
}